#schedule-name, #schedule-semester, #schedule-date {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;

}


ul {
    list-style-type: none;
}

#home-page-secondary-button {
    background-color: #926DD6;
    border-color: #926DD6;
}

#names {
    cursor: pointer;
}

#schedule-list-view {
    padding-top: 4vh;
    height: 60vh;
    margin-top: 2vh;
    overflow-y: scroll;
}

#home-header {
    margin-top: 3vh;
    width: 100%;
}

#main-content {
    height: 100vh;
}

#names, #dates, #semesters {
    font-size: 20px;
}

#semesters {
    text-transform: capitalize;
}

#enter-schedule-name {
    margin-top: 4%;
    margin-bottom: 4%;
}

#schedule-one {
    margin-top: 4%;
    margin-bottom: 4%;
}

#schedule-two {
    margin-bottom: 4%;
}

#button-container-home {
    margin-top: 3%;
}

#name-header, #date-header, #semester-header {
    background-color: #926DD6;
    border-radius: 8px;
    padding: 1%;
}

#create-schedule-button {
    background-color: #926DD6;
    border-color: #926DD6;
    height: 60px;
}