#schedule-name, #schedule-semester, #schedule-date {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    font-size: 20px;
}

#schedule-name:hover {
    color: #926DD6;
}

ul {
    list-style-type: none;
}

#home-page-secondary-button {
    background-color: #926DD6;
    border-color: #926DD6;
}

#names {
    cursor: pointer;
}

#schedule-list-view {
    padding-top: 4vh;
    height: 60vh;
    margin-top: 2vh;
    overflow-y: scroll;
}

#home-header {
    width: 100%;
    margin-top: 3vh;
    color: #926DD6;
}

#main-content-home {
    height: 100vh;
    background-color: #4B4A4A;
}

#names, #dates, #semesters {
    font-size: 20px;
}

#semesters {
    text-transform: capitalize;
}

#enter-schedule-name {
    margin-top: 4%;
    margin-bottom: 4%;
}

#schedule-one {
    margin-top: 4%;
    margin-bottom: 4%;
}

#schedule-two {
    margin-bottom: 4%;
}

#button-container-home {
    margin-top: 3%;
}

#name-header, #date-header, #semester-header {
    text-decoration: underline;
    color: #060606;
}

#schedule-list-view {
    background-color: lightgray;
    border-radius: 2%;
}

.modal-title {
    color: #060606;
}

#compare-schedule {
    background-color: #926DD6;
    border-color: #926DD6;
    width: 60%;
}

#create-schedule-button {
    background-color: #926DD6;
    border-color: #926DD6;
}

