.login-form-field {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#login-form {
    align-content: center;
    display: inline-block;
}

#welcome-text {
    color: #926DD6;
    margin: 0.5rem;
}

#logo {
    margin-top: 0.5%;
}

#login-form-submit {
    margin-top: 1rem;
}