#login-content {
    background-image: linear-gradient(#926DD6, gray, black);
    height: 100vh;
}

.login-form-field {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}

#login-form {
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-content: center;
    display: inline-block;
    padding-right: 9vh;
    padding-left: 9vh;
    background-color: white;
    border-radius: 8px;
}

#logo {
    height: 170px;
    width: 150px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#login-form-submit {
    margin-top: 2vh;
    justify-content: center;
    text-align: center;
    background-color: #926DD6;
    width: 100%;
    border-color: #926DD6;
}

#sign-up-link {
    margin-top: 4vh;
    background-color: white;
}