.major-minor-section {
    flex: 1;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 100%;
    margin: 0;
}

.tab {
    width: 100%;
    min-width: 200px;
}

.inner-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 100%;
    margin: 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.req-content {
    flex: 1;
}

.req-content {
    display: flex;
}


.req-buttons {
    display: flex;
    flex-direction: column;
    margin: 10;
    padding-left: 5%;
    padding-right: 5%;
}

.req-button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}
