.major-minor-section {
    flex: 1;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #8E8D8D;
    height: 100%;
    margin: 0;
}

.tab {
    width: 100%;
    min-width: 200px;
}

.inner-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 100%;
    margin: 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.req-content {
    flex: 1;
}

.req-content {
    display: flex;
}


.req-buttons {
    display: flex;
    flex-direction: column;
    margin: 10;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #8E8D8D;
    height: 100vh;
    align-items: center;
}

.req-button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: #926DD6;
    color: white;
    border: 2px solid #926DD6;
    width: 150%;
}

.req-button:hover {
    background-color: #d89cf6;
    color: white;
}

.req-button:active {
    background-color: #d89cf6;
    color: white;
}

#columnTitle {
    font-size: large;
    padding-top: 25px;
}

#sortingButton {
    color: #926DD6;
}

#MinorList, #MajorList {
    padding-top: 2%;
}

#MajorList .majorminorlist {
    position: absolute;
    top: 100px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    margin-top: 10px;
    
}
#MinorList .majorminorlist {
    position: absolute;
    top: 100px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    margin-top: 10px;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 2px solid #ddd;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: #926DD6;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  #sortingButton {
      float: right;
      display: flex;
  }

  #dropdown-basic-button {
      right: 20px;
      background-color: #926DD6;
      border: 0px;
  }
  #minorInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #majorInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #major-search-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

#minor-search-container {
    padding-left: 5px;
    padding-right: 5px;
}

#minor-search-bar {
    display: flex;
    float: left;
}

#minor-search-header {
    padding-top: 5px;
    font-size: 25px;
}

#click-delay-text {
    color: white;
}

.req-content {
    background-color: #4B4A4A;
}

#req-content-header {
    color: white;
    font-size: 25px;
}

.req-text div {
    text-align: left;
    margin-top: 1%;
    border-bottom: 1px solid lightgray;
}

#major-search-header {
    font-size: 25px;
}