#main-content-profile {
    height: 100vh;
    background-color: #4B4A4A;
}

#profile-h1 {
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: #926DD6;
}

.profile-h2 {
    margin: 2vh;
}

#profile-button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #926DD6;
    border-color: #926DD6;
}

#user-data-div {
    background-color: lightgray;
    width: auto;
    padding: 5%;
    border-radius: 2%;
}

#account-info {
    text-decoration: underline;
}

#change-button {
    background-color: #926DD6;
    border-color: #926DD6;
}