#logo_signup {
    height: 225px;
    width: 200px;
    margin: 1rem;
}

.signup-form-field {
    margin: 1rem;
}

#signup-text {
    color: #926DD6;
    margin: 1%;
}

#signup-header {
    color: #926DD6;
    margin: 0.5rem;
}